<!DOCTYPE html>
<html>

<head>
  <%= render 'shared/head' %>
</head>

<body>
  <%= render 'shared/header' %>
  <div class="container" style="padding: 97px 0 121px 0;">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</body>

</html>