<!DOCTYPE html>
<html>

<head>
    <%= render 'shared/head' %>
    <style>
        html,
        body {
            height: 100%;
        }
    </style>
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <%= yield %>
</body>

</html>